[submodule "Externals/Alamofire"]
	path = Externals/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Externals/Spring"]
	path = Externals/Spring
	url = git@github.com:MengTo/Spring.git
[submodule "Externals/DTCoreText"]
	path = Externals/DTCoreText
	url = git@github.com:JTExperiments/DTCoreText.git
