[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Spring"]
	path = Spring
	url = git@github.com:MengTo/Spring.git
[submodule "Externals/DTCoreText"]
	path = Externals/DTCoreText
	url = https://github.com/Cocoanetics/DTCoreText.git
